*.DS_Store

.vscode/
.build/
.swiftpm/
Package.resolved
build/
DerivedData/
xcuserdata/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

Carthage/

*.tar.gz
*.tar.gz.sha256

# Ignore the output of 'make build', which is used by 'make frameworks'
iphone*/
macosx*/
Frameworks/iphone*/
Frameworks/macosx*/
Frameworks/OpenSSL.xcframework.zip

#TODO: The resultant framework should be in a Maven portal, and not in this repo
#Frameworks/OpenSSL.xcframework/
