CODE_SIGN_IDENTITY =
CODE_SIGN_IDENTITY[sdk=macosx*] = Apple Distribution
CODE_SIGN_IDENTITY[sdk=iphoneos*] = Apple Distribution
CODE_SIGN_IDENTITY[sdk=iphonesimulator*] = Apple Distribution
CODE_SIGN_STYLE = Manual
DEVELOPMENT_TEAM = 3BHWWFU2JV

SKIP_INSTALL = NO
APPLICATION_EXTENSION_API_ONLY = YES
BUILD_LIBRARY_FOR_DISTRIBUTION = YES

MARKETING_VERSION = 1.1.1023
